---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Mena Heero
  </div>
  <div class="inline opacity-75">
    
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a> developed by
    <a href="https://mena-heero.github.io" target="_blank" class="font-bold">Mena Heero ⚡️</a>
  </div>
</footer>
<style>

</style>
